body {
    color: #000000;
    background-color: #FFFFFF;
}

content{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.midfield {
    box-sizing: border-box;
    display: block;
    padding: 30px;
    margin: auto;
    max-width: fit-content;
    border: 2px solid #DDDDDD;
    border-radius: 3px;
    background: #FFFFFF;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 120px;
    max-width: 280px;
    width: 100%;
    max-height: 63px;
    max-height: 100%;
    
}

.guzior {
    position: relative;
background: #E50000;
color: #EEEEEE;
font-family: sans-serif;
font-style: Helvetica;
font-weight: 700;
font-size: 15px;
line-height: 18px;
box-shadow: 1px 5px 25px rgba(229, 0, 0, 0.15);
border-radius: 3px;
display: block;
margin-left: auto;
margin-right: auto;
width: 346px;
height: 62px;
margin-top: 38px;
margin-bottom: 62px;
padding: 0;
border: none;
    transition: all .2s ease-in-out;

}
.guzior:hover {box-shadow: 5px 10px 50px rgba(229, 0, 0, 0.15);
 transform: translateY(-5px);


}


.pl {
    display: block;
    padding-left: 20%;
    margin-right: 20%;
    padding-top: 1%;
    margin-bottom: 48px;
font-weight: 700;
font-size: 28px;
line-height: 38px;
font-family: sans-serif;
font-style: Helvetica;


color: #000000;
display: block;
margin-left: auto;
margin-right: auto;
}

.mailbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 346px;
height: 62px;
background: #FFFFFF;
border: 1px solid #DDDDDD;
border-radius: 3px;
margin-bottom: 20px;
}

.label {
    display: block;
    padding-left: 2%;
    margin-right: auto;
    padding-top: 2%;

width: 53px;
height: 14px;

font-family: sans-serif;
font-style: Helvetica;
font-weight: 400;
font-size: 12px;
line-height: 14px;
}

.passwordbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;


width: 346px;
height: 62px;

background: #FFFFFF;
border: 1px solid #DDDDDD;
border-radius: 3px;
}


.small {
font-family: sans-serif;
font-style: Helvetica;
    font-size: 0.75rem;
    color: red;
}
.hidden {
    display: none;
}



.parowka{
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;


width: 346px;
height: 62px;

background: #FFFFFF;
border: 1px solid #E50000;
color: #E50000;
border-radius: 3px;
}


.paroweczka{
    display: block;
    padding-left: 2%;
    margin-right: auto;
    padding-top: 2%;

width: 53px;
height: 14px;

font-family: sans-serif;
font-style: Helvetica;
font-weight: 400;
font-size: 12px;
line-height: 14px;


color: #E50000;

}
input::placeholder {
    color: #777777;
    transition: color .5s ease-in-out;
    }
    
    input .has-error::placeholder {
    color: #E50000;
    }
    .parowka::placeholder{
        color: #E50000;
    }

    .mailbox::placeholder{
        color: #777777;

    }
